<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
            style="padding-top: 10px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>

            <li class="nav-item start active open" *ngIf="role == constant.AdminRole">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Users</span>
                    <!-- <span class="selected"></span> -->
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a routerLink="/users" class="nav-link ">
                            <i class="icon-list"></i>
                            <span class="title">Summary</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a routerLink="/users/add" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Add User</span>
                            <!-- <span class="badge badge-success"></span> -->
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="heading">
                <h3 class="uppercase">Features</h3>
            </li> -->
            <li class="nav-item start" *ngIf="role == constant.AdminRole">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Projects</span>
                    <!-- <span class="selected"></span> -->
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a routerLink="/projects" class="nav-link ">
                            <i class="icon-list"></i>
                            <span class="title">Summary</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="nav-item start">
                        <a routerLink="/projects/add" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Add Project</span>
                            <!-- <span class="badge badge-success"></span> -->
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-note"></i>
                    <span class="title">Tasks</span>
                    <!-- <span class="selected"></span> -->
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">

                    <li class="nav-item start ">
                        <a routerLink="/tasks/dashboard" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item start active open">
                        <a routerLink="/tasks" class="nav-link ">
                            <i class="icon-list"></i>
                            <span class="title">Summary</span>
                            <span class="selected"></span>
                        </a>
                    </li>

                    <li class="nav-item start ">
                        <a routerLink="/tasks/add" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Add Task</span>
                            <!-- <span class="badge badge-success"></span> -->
                        </a>
                    </li>

                    <li class="nav-item start ">
                        <a routerLink="/tasks/progress" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Progres Report</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->